{#{% extends 'base.html.twig' %}#}
{% extends 'admin.html.twig' %}

{% block header %}
    {% include 'partials/admin/header.html.twig' with {
        'title': 'Lista de Semestres',
        'subtitle': ''
    } %}
{% endblock %}

{% block body %}
    <div class="box">
        <div class="box-body">
            {% if is_granted('ROLE_ADMIN') %}
                <ul class="list-inline">
                    <li class="list-inline-item ">
                        <a class="btn btn-success" href="{{ path('semester_new') }}">Adicionar Semestre</a>
                    </li>
                </ul>
            {% endif %}

            {% if semesters %}
                <table class="table table-bordered datatable">
                    <thead>
                    <tr>
                        {#<th>Id</th>#}
                        <th>Semestre</th>
                        {#<th>Start</th>#}
                        {#<th>End</th>#}
                        <th>Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for semester in semesters %}
                        <tr>
                            {#<td><a href="{{ path('semester_show', { 'id': semester.id }) }}">{{ semester.id }}</a></td>#}
                            <td>{{ semester }}</td>
                            {#<td>{% if semester.start %}{{ semester.start|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                            {#<td>{% if semester.end %}{{ semester.end|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                            <td>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="btn btn-dark"
                                           href="{{ path('board_by_semester',{ 'id': semester.id }) }}">Bancas</a>
                                    </li>

                                    <li class="list-inline-item">
                                        <a class="btn btn-primary"
                                           href="{{ path('semester_show', { 'id': semester.id }) }}">
                                            <i class="glyphicon glyphicon-eye-open"></i>
                                        </a>
                                    </li>
                                    {#{% if is_granted('ROLE_ADMIN') %}
                                        <li class="list-inline-item">
                                            <a class="btn btn-warning"
                                               href="{{ path('semester_edit', { 'id': semester.id }) }}">Editar</a>
                                        </li>
                                    {% endif %}#}
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-info">
                            <strong>Não existe nenhum semestre cadastrado.</strong>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
